<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>bean.Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginOut</servlet-name>
    <servlet-class>bean.LoginOut</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddManager</servlet-name>
    <servlet-class>bean.AddManager</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Collage</servlet-name>
    <servlet-class>bean.Collage</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DepartMent</servlet-name>
    <servlet-class>bean.DepartMent</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Teacher</servlet-name>
    <servlet-class>bean.Teacher</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Paper</servlet-name>
    <servlet-class>bean.Paper</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Zhuan</servlet-name>
    <servlet-class>bean.Zhuan</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BaoGao</servlet-name>
    <servlet-class>bean.BaoGao</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JinHuo</servlet-name>
    <servlet-class>bean.JinHuo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Sale</servlet-name>
    <servlet-class>bean.Sale</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Machine</servlet-name>
    <servlet-class>bean.Machine</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ZhiBan</servlet-name>
    <servlet-class>bean.ZhiBan</servlet-class>
  </servlet>













  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginOut</servlet-name>
    <url-pattern>/LoginOut.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddManager</servlet-name>
    <url-pattern>/AddManager.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Collage</servlet-name>
    <url-pattern>/Collage.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DepartMent</servlet-name>
    <url-pattern>/DepartMent.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Teacher</servlet-name>
    <url-pattern>/Teacher.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Paper</servlet-name>
    <url-pattern>/Paper.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Zhuan</servlet-name>
    <url-pattern>/Zhuan.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BaoGao</servlet-name>
    <url-pattern>/BaoGao.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JinHuo</servlet-name>
    <url-pattern>/JinHuo.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Sale</servlet-name>
    <url-pattern>/Sale.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Machine</servlet-name>
    <url-pattern>/Machine.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ZhiBan</servlet-name>
    <url-pattern>/ZhiBan.jsp</url-pattern>
  </servlet-mapping>

</web-app>
